.login_content form input[type="text"],
.login_content form input[type="email"],
.login_content form input[type="password"] {
    margin: 0 0 0px;
}

.login_content button {
    margin-top: 20px;
}

.login_content .input label {
    text-align: left;
    display: block;
}

._pt_7 {
    padding-top: 7px;
}


/**
 * Error Message
 */

.error-message {
    color: red;
    text-align: right;
    font-size: 11px;
}

.label {
    margin: 2px;
}

.input label {
    display: block;
}

.textarea.form-control {
    display: block;
    width: 100%;
}

.block {
    display: block;
    width: 100%;
}
.no-float{
    float: none !important;
    width: 100% !important;
}
